/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Типографика */
  --Inter: "Inter-Variable";
  --PressStart2P: "PressStart2P-Regular";
  --font-weight-text: 400;
  --font-weight-title: 700;

  --background-color: #FFF;
  --accent-color: #000;
  --red-color: #FF0000;
  --color-button: #fff;

  /* Градиент */
  --gradient-color-grid: #d3d3d3;
  --gradient-color-from: #e7e7e7;
  --gradient-color-to: #1a1a1a;
}
